[submodule "submodules/emacswiki.org"]
        path = submodules/emacswiki.org
        url = https://github.com/emacsmirror/emacswiki.org.git
[submodule "submodules/verilog-mode"]
        path = submodules/verilog-mode
        url = https://github.com/gmlarumbe/verilog-mode.git
[submodule "submodules/erc-sasl"]
	path = submodules/erc-sasl
	url = https://gitlab.com/psachin/erc-sasl.git
[submodule "submodules/howdoi-emacs"]
	path = submodules/howdoi-emacs
	url = https://github.com/arthurnn/howdoi-emacs.git
[submodule "submodules/jenkins"]
	path = submodules/jenkins
	url = https://github.com/gmlarumbe/jenkins.el.git
[submodule "submodules/helm-navi"]
	path = submodules/helm-navi
	url = https://github.com/gmlarumbe/helm-navi.git
[submodule "submodules/emacs"]
	path = submodules/emacs
	url = https://github.com/gmlarumbe/emacs.git
[submodule "submodules/crypto-ticker-mode"]
	path = submodules/crypto-ticker-mode
	url = https://github.com/Sodaware/crypto-ticker-mode.git
[submodule "submodules/emacs-btc-ticker"]
	path = submodules/emacs-btc-ticker
	url = https://github.com/gmlarumbe/emacs-btc-ticker.git
[submodule "submodules/ssh-tunnels"]
	path = submodules/ssh-tunnels
	url = https://github.com/gmlarumbe/ssh-tunnels.git
